:root {
	--tp-big-width: 314px;
	--tp-cover-width: var(--tp-big-width);
	--tp-cover-height: var(--tp-big-width);
	--tp-border: 1px solid var(--color-fg);
}

.track-player {
	box-sizing: border-box;
	display: flex;
	max-width: var(--tp-big-width);
	flex-direction: column;
	border: var(--tp-border);
	overflow: hidden;
}

.tp-cover {
	display: flex;
	width: 100%;
	height: 100%;
	cursor: pointer;
	padding: 0;
}

.tp-cover img {
	width: var(--tp-cover-width);
	height: var(--tp-cover-height);
	object-fit: cover;
	.user-drag: none;
	-webkit-user-drag: none;
}

.tp-section {
	padding: 1em;
	border-top: var(--tp-border);
}

.tp-audio {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-top: var(--tp-border);
}

.tp-play-pause-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: var(--color-bg);
	border: none;
	border-right: 1px solid var(--color-fg);
	color: var(--color-fg);
	padding: 1em;
	font-size: 1em; /* scaler */
	width: 3.3em;
	height: 3.3em;
}

.tp-play-icon {
	height: 100%;

	border-color: transparent transparent transparent var(--color-fg);
	transition: 250ms all ease;
	will-change: border-width;

	border-style: solid;
	border-width: 0.8em 0 0.8em 1.2em;
}

.tp-pause-icon {
	border-style: double;
	border-width: 0 0 0 1.2em;
}

.tp-audio-seek {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 1em;
}
.tp-audio-seek input {
	width: 100%;
}

.tp-seek-bar {
	align-self: center;
	width: 100%;
	color: var(--color-fg);
	background-color: var(--color-silver);
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
	height: 14px;
	float: left;
	outline: none;
	border-radius: 0px;
}

.tp-seek-bar[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	cursor: pointer;
}

.tp-seek-bar[type='range']::-webkit-slider-thumb {
	position: relative;
	-webkit-appearance: none;
	box-sizing: content-box;
	height: 16px;
	width: 20px;
	border-radius: 0;
	background: var(--color-fg);
	border: 4px solid var(--color-bg);
	cursor: pointer;
}

.tp-seek-bar[type='range']:active::-webkit-slider-thumb {
	transform: scale(1.2);
	background: var(--color-fg);
	border: 4px solid var(--color-bg);
}

.tp-timekeeper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 0 0.8em;
	border-left: var(--tp-border);
}

.tp-timekeeper-divider {
	display: none;
}

.tp-link {
	text-align: left;
	padding: 1em 0.8em;
	background: var(--color-bg);
	color: var(--color-fg);
	border: none;
	border-top: var(--tp-border);
	cursor: pointer;
	text-decoration: none;
}

.tp-link:hover {
	text-decoration: underline;
	text-decoration-thickness: var(--text-decoration-thickness);
}

.bandcamp-link { border-left: 4px solid #1da0c3; }
.spotify-link { border-left: 4px solid #1db954; }
.tidal-link { border-left: 4px solid var(--color-fg); }
.apple-music-link { border-left: 4px solid #e60532; }
.download-link { border-left: 4px solid var(--color-fg); }
.youtube-music-link { border-left: 4px solid #ff0000; }

.tp-description {
	border-top: var(--tp-border);
	padding: 1em;
}

.tp-credits {
	border-top: var(--tp-border);
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
}
.tp-credits small { text-transform: uppercase;	}
.tp-description small { text-transform: uppercase;	}


@media (max-width: 222px) {
	.tp-cover {
		width: 100%;
		height: 100%;
	}
	.tp-audio {
		flex-direction: column;
	}
	.tp-play-pause-btn {
		width: 100%;
		border-right: none;
	}
	.tp-audio-seek {
		flex-direction: column;
		align-items: flex-start;
		border-top: var(--tp-border);
	}
	.tp-timekeeper {
		flex-direction: row;
		border: none;
		border-top: var(--tp-border);
		padding: 1em 0;
		gap: 0.5em;
	}
	.tp-timekeeper-divider {
		display: block;
	}
}
